* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #fff;
  background-color: #010101;
}
.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pageBuy {
  width: 100%;
  margin: 30px auto;
}
.pageBuy h2 {
  color: #fff;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}
.pageBuy h2::after {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  background: red;
  margin: 5px auto;
}
img {
  width: 99%;
  margin-top: -28px;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.products {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  gap: 20px;
  margin: 20px auto;
  list-style: none;
}
.products li {
  width: 200px;
  height: 250px;
  border: 1px solid white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size:20px; 
  margin-top: 10px;
   position: relative;
}

.products li button {
  width:80%; 
  padding: 8px 10px; 
   border-radius: 8px;
   background-color: #ff0000;
   border:none; 
   outline:none; 
   cursor: pointer;
   color:#fff;
   font-weight: 600;
   font-size:20px; 
   margin-top: 10px; 
}
.sale{
    position:absolute;
    top: 98px; 
    left: 0; 
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%; 
    border-radius: 8px;
    background-color: #474545ff; 
    padding: 5px 10px; 
    color: #fff;
}



.Cart {
  color: #fff;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

.Cart p {
  width: 60%;
  margin: 10px auto;
  background: red;
  padding: 5px;
  border-radius: 8px;
}
.Cart ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  color: #fff;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  border: 1px solid white;
  border-radius: 8px;
}
.Cart ul li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid white;
}
#checkout {
  color: #fff;
  width: 150px;
  text-align: center;
  margin: 10px auto;
  background: red;
  padding: 5px;
  border-radius: 8px;
  background: green;
  cursor: pointer;
  display: none;
}

.Cart ul li button {
  background-color: #ff0000;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 600;
}

#empty {
  display: none;
}
